table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Matiere {
    list-style-type: none;
    padding: 0;
}
.Matiere li {
    background-color: white;
    border: 1px solid #d3d3d3;
    padding: 5px 15px;
    color: #273b7d;
    display: -webkit-inline-box;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 22px;
    text-align: center;
}