#textcopie {
    border: none;
    padding: 5px 13px;
    border-radius: 4px;
    
    color: #646464;
outline: none;border: 1px solid #5edf27;}
#btncopie {
    border: none;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: #5edf27;
    color: #ffffff;
}